<div class="container mt-4">
  <h3 class="mb-3">Purchase Details</h3>

  <table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
      <tr> ----------------------------------------------------------------------
      </tr>
      <div>
          <tr> <th>Supplier :</th> <p>sdfghjkdfghjsdfghjsdfghjdfghj</p> 
            </tr><tr><td>Supplier :</td></tr>         
     </div>     
   
    </thead>
    <tbody>
      <tr *ngFor="let purchase of purchases; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ purchase.supplierName }}</td>
        <td>{{ purchase.supplierAddress }}</td>
        <td>{{ purchase.mobileNumber }}</td>
        <td>{{ purchase.date }}</td>
        <td>{{ purchase.mrp | currency:'INR' }}</td>
        <td>{{ purchase.sellingPrice | currency:'INR' }}</td>
        <td>{{ purchase.totalAmount | currency:'INR' }}</td>
        <td>
          <span class="badge" [ngClass]="purchase.status === 'Completed' ? 'bg-success' : 'bg-warning'">
            {{ purchase.status }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
