<div class="login-container d-flex justify-content-center align-items-center">
  <div class="login-box shadow p-4 rounded bg-white text-center">
    <div class="logo mb-3">
      <div class="icon-circle mb-2">
        <i class="bi bi-stethoscope"></i>
      </div>
      <h3 class="mb-1">MedBill Pro</h3>
      <p class="text-muted">GANPATI MEDICAL</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 text-start">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Enter your username"
          formControlName="username"
        >
      </div>
      <div class="mb-3 text-start">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
          >
          <span class="input-group-text" style="cursor: pointer;" (click)="togglePassword()">
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </span>
        </div>
      </div>
      <button type="submit" class="btn btn-dark w-100" [disabled]="isLoading">Sign In</button>
    </form>
    <br />
  </div>
</div>
